.notes-link, .add-note-link, .delete-notes {
    margin-bottom: 10px;
    text-align: right;
}
.notes-link, .add-note-link, #deleteNotes {
    font-size: 20px;
    font-weight: bold;
}


#noteButton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    font-weight: bold;
}

.new-note {
    border: 2px solid #123;
    border-radius: 5px;
    padding: 20px;
    background: #FFF;
}

#noteTextarea {
    resize: none;
}

.note-text {
    border-right: 1px solid #ddd;
}
