.notes-link, .add-note-link {
    text-align: right;
    margin-bottom: 15px;
}

#noteButton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    width: 20%;
    font-weight: bold;
}

.new-note {
    border: 2px solid #123;
    border-radius: 5px;
    padding: 5px;
    background: #FFF;
}

#noteText {
    resize: none;
}

#noteText {
    border-right: 1px solid #ddd;
}