{% extends "base.html" %}

{% block content %}
    <div class="add-note-link">
        <a href="/add_note">Add note</a>
    </div>
    <h3>Notes</h3>
    <hr>
    <div class="notes">
        {% for note in notes %}
        <div class="row">
            <div class="col-10" id="noteText">
                {{ note.text }}
            </div>
            <div class="col-2">
                {{ note.unique_count }}
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>
{% endblock %}