{% extends "base.html" %}

{% block content %}
    <div class="add-note-link">
        <a href="{{ url_for('add_note_get') }}">Add note</a>
    </div>
    <div class="delete-notes">
        <button type="button" class="btn btn-danger"
                id="deleteNotes" onclick="deleteNotes()">
            Delete all
        </button>
    </div>
    <h3>Notes</h3>
    <hr>
    <div class="notes">
        <div class="row">
            <div class="col-10 note-text">
                <b>Note text</b>
            </div>
            <div class="col-2">
                <b>Unique words</b>
            </div>
        </div>
        <hr>
        <div id="notesData">
            {% for note in notes %}
            <div class="row">
                <div class="col-10 note-text">
                    {{ note.text }}
                </div>
                <div class="col-2">
                    {{ note.unique_count }}
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}